@font-face {
    font-family: 'Orgon Plan';
    src: local('Orgon Plan Light'), local('Orgon-Plan-Light'),
        url('OrgonPlan-Light.woff2') format('woff2'),
        url('OrgonPlan-Light.woff') format('woff'),
        url('OrgonPlan-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body{
    background-image: url("../img/bit.jpg");
    color: #000000;
    margin: 0;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

a{
   color: black; 
}

.menuHeader:hover{
    color: #000000;
    background-color: aliceblue;
    
    transition: 0.3s all;
}

li{
    display: inline-block;
    margin: 20px;
}

h1{
    font-weight: 200;
    font-family: 'Orgon Plan';
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    color: black;
    font-size: 56px;
    line-height: 10px;
}

p{
    line-height: 20px;
    max-width: 500px;
}

img{
    width: 700px;

}

.menuHeader, .logoHeader{
    color: aliceblue;
}

.tituloForms{
    color:#000000;
    font-family: 'Orgon Plan';
}