@font-face {
    font-family: 'Orgon Plan';
    src: local('Orgon Plan Light'), local('Orgon-Plan-Light'),
        url('OrgonPlan-Light.woff2') format('woff2'),
        url('OrgonPlan-Light.woff') format('woff'),
        url('OrgonPlan-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: #f4f4f9;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.containerHeader, .containerHeaderDemais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    line-height: 1;
}

.logoHeader{
    font-weight: 100;
    font-family: 'Orgon Plan';
}

.menuHeader,
.logoHeader {
    color: aliceblue;
    text-decoration: none;
    align-items: baseline;
}

li {
    display: inline-block;
    margin: 20px;
}

.menuHeader:hover {
    color: #000000;
    -webkit-text-stroke: 0.5px white;
    transition: 0.3s all;
}

/* Body */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

/* Carrossel */

.carousel {
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0px;
    position: relative;
    width: 100%;
}

.carousel-track {
    display: flex;
    gap: 20px;
    animation: scroll 15s linear infinite;
    will-change: transform;
}


.carousel:hover .carousel-track {
    animation-play-state: paused;
}

.card {
    flex: 0 0 auto;
    width: 400px; 
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 8px;
}

/* Animação da faixa */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* container titulo */
.containerTitulo{

    width: 100%;
    background-image: url("../img/bit6.jpg"); 
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    display: block;
    margin-top: -50px;
}

.tituloPrincipal {
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-weight: 700;
    color: #fdf6f6 !important;
    font-family: 'Orgon Plan';
    -webkit-text-stroke: 0.5px black !important;
    margin-bottom: -10px;
    padding-top: 50px;
}

.subtituloPrincipal {
    font-size: 70px;
    color: aliceblue !important;
    display: flex;
    justify-content: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

/* Container Informacoes */
#carouselExampleIndicators .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: none !important;
}

.containerInformacoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.textoInformacoes{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    padding: 0 20px;

}

.paragrafoInformacoes{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    font-size: 15px;

}

/* Container contato */

.containerContato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.textoContato{
    display: flex;
    flex-direction: column;
}

.tituloContato{
    display: flex;
    flex-direction: row;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: -10px;
}

.fonte{
    font-family: 'Orgon Plan';
}

p{
    line-height: 20px;
    max-width: 500px;
}

hr {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-color: #030303;
    height: 100px;
}

/* footer */
.containerFooter{
    width: 100%;
    height: 60px;
    background-color: black;
    color: #ece9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/*time line*/


.eventosTitulo{
    font-size: 30px;
    font-weight: 200;
    margin-bottom: -10px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: blanchedalmond;
}

.containerEventos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0;
    width: 100%;
    background-color: #242424;
    box-shadow: 30px 40px 20px rgba(0, 0, 0, 0.2),
    30px -50px 20px -20px rgba(0, 0, 0, 0.2);
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 40px auto;
  max-width: 1000px;
  padding: 20px;
}

/* Linha horizontal */
.timeline::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 6px;
  width: 100%;
  background-color: #b1a9a9;
  z-index: 0;
}

/* Cada evento */
.event {
  position: relative;
  text-align: center;
  width: 20%;
}

/* Bolinha */
.event::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 3px solid #000000;
  border-radius: 50%;
  z-index: 1;
}

/* Conteúdo */
.content {
  margin-top: 50px;
  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}

/* Responsivo */
@media screen and (max-width: 768px) {
    .timeline {
        flex-direction: column;
        align-items: flex-start;
    }

    .timeline::before {
        top: 0;
        left: 30px;
        width: 6px;
        height: 100%;
    }

    .event {
        width: 100%;
        padding-left: 60px;
        margin-bottom: 40px;
    }

    .event::before {
        top: 0;
        left: 30px;
        transform: translate(-50%, 0);
    }

    .content {
        margin-top: 0;
    }
}

#calendario{
    font-size: 30px;
    font-weight: 200;
    margin-bottom: -10px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#calendar {
    max-width: 800px;
    margin: 40px auto;
    background-color:#fdf6f6;
    width:600px;
}