@font-face {
    font-family: 'Orgon Plan';
    src: local('Orgon Plan Light'), local('Orgon-Plan-Light'),
        url('OrgonPlan-Light.woff2') format('woff2'),
        url('OrgonPlan-Light.woff') format('woff'),
        url('OrgonPlan-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    line-height: 1;
}

.logoHeader{
    font-weight: 95;
    font-family: 'Orgon Plan';
}

.menuHeader,
.logoHeader {
    color: aliceblue;
    text-decoration: none;
}

li {
    display: inline-block;
    margin: 20px;
}

.menuHeader:hover {
    color: #000000;
    -webkit-text-stroke: 0.5px white;
    transition: 0.3s all;
}

/* Body */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

/* container titulo */
.containerTitulo{
    width: 100%;
    padding: 100px 50px;
    background-image: url("../img/bit6.jpg"); 
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    display: block;
    margin-top: -50px;
}

.tituloPrincipal {
    display: flex;
    justify-content: center;
    font-size: 90px;
    font-weight: 200;
    color: #fdf6f6 !important;
    font-family: 'Orgon Plan';
    -webkit-text-stroke: 3px black !important;

}

.subtituloPrincipal {
    font-size: 50px;
    color: aliceblue !important;
    display: flex;
    justify-content: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

/* Container Informacoes */
#carouselExampleIndicators .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: none !important;
}

.containerInformacoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.textoInformacoes{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    padding: 0 20px;
}

/* Container contato */
.textoContato{
    display: flex;
    flex-direction: column;
}

.tituloContato{
    display: flex;
    flex-direction: row;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: -10px;
}

.fonte{
    font-family: 'Orgon Plan';
}

p{
    line-height: 20px;
    max-width: 500px;
}

hr {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-color: #030303;
    height: 100px;
}

/* footer */
.containerFooter{
    width: 100%;
    height: 60px;
    background-color: black;
    color: #ece9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}



